.btn {
    padding: .5em.75em;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-decoration: none;
    background-color: rgb(225, 224, 214);

    &:hover {
        background-color: rgb(111, 102, 102);
        color: lightgra y;
    }
}